<div class="panel panel-default">
    <div class="panel-heading">
        <h4> {{ header }} </h4>
    </div>
       
<!--        <ng-content></ng-content> -->
    <div class="panel-body">
        <img class="img-responsive" style="height:220px" [src]="mutualImg" alt="mutual fund">
        <p>Do you want a diversified portfolio?</p>
        <p>Are you willing to pay an annual expense for professional management?</p> 
    </div>
        
    <div class="panel-footer">
        <p>
            <strong> {{ footer }} </strong>
        </p>
    </div>
</div>
        
    
